.DS_Store
*.pyc
*~
.*.sw[po]
dist/
*.egg-info
*.egg
*.egg/
doc/__build/*
build/
.build/
pip-log.txt
.directory
erl_crash.dump
*.db
*.o
*.lo
*.la
*.so
*.dylib
Documentation/
MANIFEST

^scratch$

autom4te\.cache$

config\.h
config\.log
stamp-h1

rabbitmq-c/examples/.libs
rabbitmq-c/librabbitmq/.libs
tests/test_tables
tests/test_parse_url
rabbitmq-c/examples/amqp_sendstring
rabbitmq-c/examples/amqp_exchange_declare
rabbitmq-c/examples/amqp_listen
rabbitmq-c/examples/amqp_producer
rabbitmq-c/examples/amqp_consumer
rabbitmq-c/examples/amqp_unbind
rabbitmq-c/examples/amqp_bind
rabbitmq-c/examples/amqp_listenq

amqp_framing\.c
amqp_framing\.h

tools/amqp-publish
tools/amqp-get
tools/amqp-consume
tools/amqp-declare-queue
tools/amqp-delete-queue
tools/.*\.[17]$
tools/doc/man-date.ent
