include AUTHORS
include Changelog
include README.rst
include MANIFEST.in
include LICENSE-GPL-2.0
include LICENSE-MPL-RabbitMQ
include TODO
include setup.cfg
recursive-include librabbitmq *
recursive-include tests *
recursive-include rabbitmq-c *
recursive-include rabbitmq-codegen *
prune *.pyc
prune *.o
prune *.la
prune *.so
prune *.dylib
